body, {
    font-family: 'Orbitron', sans-serif !important;
  
}  

main {
    background-color: $black;
  }
@font-face {
    font-family: 'spacetech';
    src:url('/fonts/Spacetech.ttf')
}
.navbar-brand {
    font-family: 'spacetech' !important;
}
.about {
    margin-top: 3px;
    color: $white;
    padding: 10px;
    h2 {
        font-family:'spacetech';
        font-size:45px;
        color: $heading-color;
        animation: start-animation 1.5s ease-in-out infinite alternate;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
        
    }
}

main{
    &.home, &.gamePlay, &.history, &.contacts {
       display: none;
     }
    }
 
.en {
    display:none;
}
 
