body, h2 {
    font-family: 'Orbitron', sans-serif !important;
    color: #FFB71C;
    
  
}
@font-face {
    font-family: 'spacetech';
    src:url('/fonts/Spacetech.ttf')
}
.navbar-brand {
    font-family: 'spacetech' !important;
}
.about {
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 3px;
    color: #000;
    padding: 10px;
    
}


main{
    &.home, &.gamePlay, &.about, &.contacts {
       display: none;
     }
    }
 
.en {
    display:none;
}
 
.game {
    background-image:url('/images/gamebg.png');
    color:#000;
}

.pausedGame {
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25vh;
  }

  .gameStart {
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25vh;
  }
