body, h2 {
    font-family: 'Orbitron', sans-serif !important;
    color: #FFB71C;
    
  
}
@font-face {
    font-family: 'spacetech';
    src:url('/fonts/Spacetech.ttf')
}
.navbar-brand {
    font-family: 'spacetech' !important;
}
.about {
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 3px;
    color: #000;
    padding: 10px;
    
}


main{
    &.home, &.gamePlay, &.about, &.contacts {
       display: none;
     }
    }
 
.difficulty {
    position:absolute;
    top:5px;
    width: 100%;
    text-align:center;
}
.en {
    display:none;
}
 
.game-over{
    color: #FE1300; // $color-secondary-2-3

}
.short-text {
    display: none;
}

@media (max-width: 767px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}

.pauseButton {
    position:absolute;
    top:35px;
    right:10px;
}

.game {
    background-image:url('/images/gamebg.png');
    
}

