$color-primary-0: #17A4B8;	// Main Primary color */
$color-primary-1: #61C5D3;
$color-primary-2: #39B2C3;
$color-primary-3: #02899C;
$color-primary-4: #026877;

$color-secondary-1-0: #FFB71C;	// Main Secondary color (1) */
$color-secondary-1-1: #FFD373;
$color-secondary-1-2: #FFC547;
$color-secondary-1-3: #FEAE00;
$color-secondary-1-4: #C28500;

$color-secondary-2-0: #FF2C1C;	// Main Secondary color (2) */
$color-secondary-2-1: #FF7D73;
$color-secondary-2-2: #FF5447;
$color-secondary-2-3: #FE1300;
$color-secondary-2-4: #C20E00;